.carousel-item img{
    width: 200px;
    height:400px;
}
.breadcrumb-item a {
	text-decoration: none;
}
.progress{
    padding-top: 3px;
}
.footer{
    background-color: #17A2B8;
    text-align: center;
}
.footer p {
	padding: 18px 0px;
	color: white;
}